.header-container {
    height:800px;

   
    position:relative;

   
}
.header-container::after {
    height:700px;
    content:' ';
    position: absolute;
    top: 0;
    width: 33%;
    right: 0;
    background-color:#FD746C;
    z-index: -5;
}
